{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='order' %}">주문</a>
    &rsaquo; 주문
</div>
{% endblock %}

{% block content %}

<div id="content-main">
   
    <div class = "row mt-5">
        <div class="col-12 p-5">

             <a class="btn btn-primary mb-5" href="/admin/order/order">돌아가기</a>
            
             <h3>프로젝트</h3>

                         
             <table class ="table table-light">
        
                <thead class ="thead-light">
                
                    <tr>
                        <th scope="col">대표이미지</th>
                        <th scope="col">상품명</th>
                        <th scope="col">브랜드명</th>
                        <th scope="col">기업명</th>
                        <th scope="col">카테고리1</th>
                        <th scope="col">카테고리2</th>
                        <th scope="col">국가</th>
                        <th scope="col">유통채널</th>
                        <th scope="col">가격</th>
                        <th scope="col">판매수량</th>
                        <th scope="col">판매상명</th>
                        <th scope="col">단속근거</th>
                        <th scope="col">침해유형1</th>
                        <th scope="col">침해유형2</th>
                        <th scope="col">신고일자</th>
                        <th scope="col">신고결과</th>
                        <th scope="col">상품URL</th>
                        <th scope="col">비고</th>

                    </tr>
                
                
                </thead>    
             
                <tbody class ="text-dark">
                    {% for d in data %}
                    <tr>
                        <th> {{ d.user }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.status }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                        <th> {{ d.product }}</th>
                    </tr>
                    {% endfor %}
                
                </tbody>    
              
             </table>
    
            
        </div>
       
    </div>
    

</div>

{% endblock %}

